@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
img {
  width: 150px;
  height: 140px;
}
ul > li {
  margin: 0 0.45rem;
  transition: all 2s ease;
}
ul > li:hover {
  cursor: pointer;
}
.user {
  width: 400px;
}
